:root {
  --spacer-small: 4px;
  --spacer-large: 8px;
}

body {
    margin: 0;
    background: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-stack);
    font-size: var(--font-size-small);
    padding: var(--spacer-large);
  }

  body > *:not(:last-child) {
    margin-bottom: 4px;
  }

  .heading {
    font-size: var(--font-size-large);
    text-align: center;
  }

  .subheading {
    font-size: var(--font-size-small);
  }

  .pageContainer {
    padding: var(--spacer-small);
  }

  .tabContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .tab {
    background: none;
    color: var(--text2);
    border: none;
    border-radius: 0;
  }

  .tab:hover {
    color: var(--text1);
  }

  .tab:focus {
    outline: none;
    border-bottom: solid var(--text1);
  }

  .tab--active {
    color: var(--text1);
    border-bottom: solid var(--text1);
  }
  
  button {
    color: #fff;
    background: #0073e6;
    padding: 4px 8px;
    border: 2px solid #0073e6;
    border-radius: var(--spacer-small);
    font-size: var(--font-size-small);
  }
  
  button:focus {
    outline: none;
    border-color: #1280ee;
  }
  
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.gap-1 {
  gap: var(--spacer-small);
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacer-large);
  gap: var(--spacer-small);
  background: var(--background5);
  border-radius: var(--spacer-small);
}

.text-center {
  text-align: center;
}